{% extends 'layout.html' %}
{% macro list_invites(values) %}
  {% if not values %}
  <p>No one</p>
  {% else %}
  <ul class="invite-list">
    {% for invite in values -%}
    <li>
      <strong>{{ invite.full_name|e }}
      {%- if invite.attending > 1 %} (+{{invite.attending - 1}}){% endif -%}
      </strong>
      <p>{{ invite.comments|e|breaklines }}</p>
    </li>
    {%- endfor %}
  </ul>
  {% endif %}
{% endmacro %}
{% block body %}
  <h1>{{ event.name|e }}</h1>
  <p>{{ event.description|e|breaklines }}</p>

  <h2>When</h2>
  <p>
  {% set duration = event.end - event.start %}
  {# TODO should also fall in here if both are on the same date #}
  {% if duration.days < 1 and duration.seconds < 10 * 60 * 60 %}
  {{ event.start|date }} from {{ event.start|time }} until {{ event.end|time }}
  {% else %}
  From {{ event.start|datetime }} until {{ event.end|datetime }}
  {% endif %}
  </p>

  <h2>Where</h2>
  <p>{{ event.location|e|breaklines }}</p>

  <h2>Attending (Total: {{ attending|attriter('attending')|sum }})</h2>
  {{ list_invites(attending) }}

  <h2>Maybe (Total: {{ possible|attriter('attending')|sum }})</h2>
  {{ list_invites(possible) }}

  <h2>Not Attending</h2>
  {{ list_invites(not_attending) }}

{% endblock %}
